<!DOCTYPE html>
<html>
<head>
    <title>LOGIN PAGE</title>
</head>
<body>
<form action="/login", method="post">
    <div>
        <label>Email</label>
        <input type="text" name="email">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password">
    </div>
    <div>
        <button type="submid">Login</button>
    </div>
</form>
</body>
</html>